<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Runic Force</title>
</head>
<body>
    <div id="game" ref="game">
        <container width="10%" height="100%" v-bind:sty="{'flex-direction':'column', 'border-right':'solid'}">
        <tab-select v-for="tab in player.tabs" v-bind:tab="tab" v-bind:time="player.lastUpdate" v-bind:key="tab.id+1" v-bind:order="tab.id" @activate="switchTab(tab.id)" v-show="tab.unlock"></tab-select>
        </container>
        <keep-alive>
        <component v-bind:is="curTab + '-tab'" :player="player" @newmine="newMine" @research="" v-bind:knowprod="knowledgeProdMulti"></component>
      </keep-alive>
        <container width="10%" height="100%" v-bind:sty="{'flex-direction':'column', 'border-left':'solid', 'margin-right':'5px'}">
          <container width="100%" height="unset" v-bind:sty="{'font-size':'2.5vw', 'text-align':'center'}">Stones</container>
          <container width="100%" height="unset" v-for="(stone, key) in player.stones" v-show="stone.unlock" :key="key" v-bind:sty="{color:key,'font-size':'1.5vw', 'margin-left':'5px', 'justify-content':'space-between', 'overflow':'hidden'}">
            <span style="font-size:0.5em; margin-top:6.25%;" >{{key}}: </span><span>{{formatNum(stone.amnt)}}</span>
          </container>
        </container>
    </div>
    <script type="text/javascript" src="javascript/vue.js"></script>
    <script type="text/javascript" src="javascript/components.js"></script>
    <script type="text/javascript" src="javascript/main.js" ></script>
    <link rel="stylesheet"  href="interface.css" type="text/css"/>
</body>
</html>
