#game {
    padding-top:10px;
    font-family: Courier New, Courier, monospace;
    font-size:1vw;
    width:100%;
    height:calc(100vh - 30px);
    display:flex;
    user-select:none;
}

.container {

}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}
::-webkit-scrollbar-piece {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #4499446  0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #449944e0;
}
